<head>
<meta http-equiv="Content-Type" content="text/html; charset=tis-620">
<title>Untitled Document</title>
<link href="/template/css/reset.css" rel="stylesheet" type="text/css">
<link href="/template/css/bc_style.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" language="javascript" src="/template/js/jsCore.js"></script><script type="text/javascript" language="javascript" src="/template/js/jsfunction.js"></script><script src="/template/js/protocalendar/lib/prototype.js" type="text/javascript"></script><script src="/template/js/protocalendar/lib/effects.js" type="text/javascript"></script><script src="/template/js/protocalendar/javascripts/protocalendar.js" type="text/javascript"></script><!-- Google Map API 4 (using)---><script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAVxAcwlemrd2fhTvBEAYuaBRmGE4BP7-wT1IQrzYyxv1_4ccAuRShLI-nt67awoj3qLANr0d06ILKWg&amp;hl=en&amp;lr=en" type="text/javascript"></script><script type="text/javascript">
   
    function initialize() {
       if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        var center = new GLatLng(13.761437, 100.536869);
        map.setCenter(center, 16);
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());
        
        //Add new marker
        var marker = new GMarker(center, {draggable: false});
        //GEvent.addListener(marker, "dragend", function() {
            
           // document.getElementById('lat').value = marker.getPoint().lat();
           // document.getElementById('lng').value = marker.getPoint().lng();
                
       // });
       map.addOverlay(marker);
        
        
        
      } 
    }
</script><script>
function changeImg(imgName) {
    //alert(imgName.src); 
    if(imgName != ''){ 
     document.getElementById('imgPreview').src = imgName.src;
    }
    
}

</script><style>
@media print{
    body{
        display:none;
    }
}
</style>
</head>
<body class="popupBg" oncontextmenu="return noRightClick();" onunload="GUnload()" onload="initialize()">
<div id="container-w900">
  <div id="tab1" class="tabContainer">
    <div class="tabNav">
      <ul>
<li class="selected"><a href="javascript:changeTab('tab1',0)" rel="Home"><span>Property Detail</span></a></li>
      </ul>
</div>
    <div class="tabContent">
      <!-- Tab Content Start -->
      
      <!-- Home Start -->
      <div id="Home" style="display:block;">
        <div class="theader">
          <table width="100%" border="0"><tr>
<td width="54%">
<strong>Property ID:</strong>B11051502</td>
              <td width="19%" align="right"><a href="#" onclick="popupWindow('/Properties/coversheetProject/prop_id:45243','846','1169');">Cover Sheet</a></td>
              <td width="13%" align="right">
<img src="/template/images/bookmark_icon.gif" width="14" height="14"><a href="#" onclick="popupWindow('/bookmark_group/bookmarkgrp_popup/runningnumber:B11051502/prop_id:45243/user_id:272','500','350');"> Bookmark</a>
</td>
              <!--td width="7%" align="right"><img src="/template/images/pdf_icon.gif" width="19" height="19" /><a href="#" onclick="popupWindow('','925','700');">PDF</a></td-->
              <td width="7%" align="right"><a href="javascript:printThisPage();"> <img src="/template/images/print_icon.jpg" width="15" height="18"> Print</a></td>
            </tr></table>
</div>
        <div class="tcontent-b">
          <table width="750" class="tblList">
<tr class="header">
<td colspan="2" bgcolor="#FFFFFF"> </td>
            </tr>
<tr>
<td width="446" valign="top" bgcolor="#FFFFFF">
<table width="93%" id="imgUploader">
<tr>
<td width="44%" align="center"><img id="imgPreview" src="/upload/projects/3310/lowres/" name="img" width="413"></td>
                  </tr>
<tr>
<td><table width="100%" border="0"></table></td>
                </tr>
<tr>
<td> </td>
                </tr>
<tr>
<td>Google Map</td>
                </tr>
<tr>
<td><div id="map_canvas" style="width: 410px; height: 300px"></div></td>
                </tr>
</table>
<p> </p>
              <p> </p>
</td>
              <td width="440" valign="top">
<table width="100%" class="tblList2">
<!--<tr class="odd">
                  <td width="128"><strong>Customer Name:</strong></td>
                  <td width="292"></td>
                </tr>--><tr class="odd">
<td width="128"><strong>Customer Type:</strong></td>
                  <td width="292">Individual</td>
                </tr>
<tr class="even">
<td width="128"><strong>Customer Class:</strong></td>
                  <td width="292">
									  </td>
                </tr>
<tr class="odd" valign="top">
<td width="128"><strong>Owner 1:</strong></td>
                  <td width="292">,,</td>
                </tr>
<tr class="even" valign="top">
<td width="128"><strong>Owner 2:</strong></td>
                  <td width="292">
														  </td>
                </tr>
<tr class="even">
<td><strong>Property Status:</strong></td>
                  <td>Available</td>
                </tr>
<tr class="odd">
<td><strong>Requirement Type:</strong></td>
                  <td>For Sale/Rent</td>
                </tr>
<tr class="even">
<td><strong>Property Type:</strong></td>
                  <td>
				  	Building/Project                  	(
				  	Condo          		          )
				  </td>
                </tr>
<tr class="odd">
<td><strong>Project:</strong></td>
                  <td>AP - RHYTHM Rangnam</td>
                </tr>
<tr class="even">
<td><strong>Ownership:</strong></td>
                  <td>Free Hold</td>
                </tr>
<tr class="odd">
<td valign="top"><strong>Head Line:</strong></td>
                  <td></td>
                </tr>
<acronym></acronym>
                <tr class="even">
<td valign="top"><strong>Description:</strong></td>
                  <td><p></p></td>
                </tr>
</table>
<p> </p>
                <table width="100%" class="tblList2">
<tr class="header">
<td colspan="2">Size &amp; Price</td>
                  </tr>
<tr class="odd">
<td width="130"><strong>Land Area:</strong></td>
                    <td width="290">1 ไร่ 3 งาน 793 ตารางวา</td>
                  </tr>
<tr class="even">
<td width="130"><strong>Usable Area:</strong></td>
                    <td width="290"></td>
                  </tr>
<tr class="even">
<td><strong>Project Opening price:</strong></td>
                    <td></td>
                  </tr>
<tr class="odd">
<td><strong>Current Market price:</strong></td>
                    <td></td>
                  </tr>
<tr class="even">
<td><strong>Sale/Rental Details:</strong></td>
                    <td></td>
                  </tr>
<tr class="odd">
<td><strong>Rental Contract date:</strong></td>
                    <td>
					-					</td>
                  </tr>
</table>
<p> </p>
              <table width="100%" class="tblList2">
<tr class="header">
<td colspan="2">Room &amp; Parking Space</td>
                </tr>
<tr class="odd">
<td width="130"><strong>No. of towers:</strong></td>
                  <td width="290">1</td>
                </tr>
<tr class="even">
<td><strong>No. of storey:</strong></td>
                  <td>28</td>
                </tr>
<tr class="odd">
<td><strong>No. of unit:</strong></td>
                  <td>385</td>
                </tr>
<tr class="even">
<td><strong>No. of parking:</strong></td>
                  <td></td>
                </tr>
<tr class="odd">
<td><strong>Studio:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="even">
<td><strong>1 Bedroom:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="odd">
<td><strong>2 Bedrooms:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="even">
<td><strong>3 Bedrooms:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="odd">
<td><strong>4 Bedrooms:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="even">
<td><strong>Others:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="odd">
<td><strong>Duplex:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="even">
<td><strong>Penthouse:</strong></td>
                  <td>
                                    </td>
                </tr>
<tr class="odd">
<td><strong>Corner:</strong></td>
                  <td>
                                    </td>
                </tr>
</table>
<br><table width="100%" border="1" class="tblList2" style="display:none"><tr class="header">
<td width="100%">Features</td>
                  </tr></table>
<table width="100%" class="tblList2">
<tr class="header">
<td>Facilities</td>
                  </tr>
<tr class="odd">
<td width="135"><strong>Swimming Pool</strong></td>
                  </tr>
<tr class="even">
<td width="135"><strong>Security</strong></td>
                  </tr>
<tr class="odd">
<td width="135"><strong>Garden</strong></td>
                  </tr>
<tr class="even">
<td width="135"><strong>Fitness</strong></td>
                  </tr>
</table>
<br><table width="100%" class="tblList2" style="display:none"><tr class="header">
<td>Furnishing</td>
                  </tr></table>
<table width="100%" class="tblList2" style="display:none"><tr class="header">
<td>Flooring</td>
                  </tr></table>
<table width="100%" class="tblList2">
<tr class="header">
<td colspan="2">Map</td>
                </tr>
<tr class="odd">
<td width="180" valign="top"><strong>Zone:</strong></td>
                  <td width="220"><p><strong></strong></p></td>
                </tr>
<tr class="even">
<td><strong>Exact Location:</strong></td>
                  <td>ซอยรางน้ำ ถนนพญาไท</td>
                </tr>
<tr class="odd">
<td valign="top"><strong>Address</strong></td>
                  <td>ถนนพญาไท แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร</td>
                </tr>
<tr class="even">
<td><strong>Nearest BTS</strong></td>
                  <td>Victory Monument</td>
                </tr>
<tr class="odd">
<td><p><strong>Nearest  MRT:</strong></p></td>
                  <td></td>
                </tr>
<tr class="even">
<td><p><strong>Nearest  BRT:</strong></p></td>
                  <td></td>
                </tr>
<tr class="odd">
<td><strong>Nearby Restaurants:</strong></td>
                  <td></td>
                </tr>
<tr class="even">
<td><strong>Nearby International Schools:</strong></td>
                  <td>โรงเรียนสันติราษฎร์วิทยาลัย</td>
                </tr>
<tr class="odd">
<td><strong>Nearby Hospitals:</strong></td>
                  <td>โรงพยาบาลราชวิถี,โีรงพยาบาลพญาไท 1</td>
                </tr>
<tr class="even">
<td><strong>Nearby Shopping Center:</strong></td>
                  <td>Center One Departmentstore,Victorymail</td>
                </tr>
<tr class="odd">
<td><strong>Nearby Fitness &amp; Yoga:</strong></td>
                  <td></td>
                </tr>
<tr class="even">
<td><strong>Nearby Park:</strong></td>
                  <td>สวนสันติภาพ</td>
                </tr>
</table>
<p> </p>
              <table width="100%" class="tblList2">
<tr class="header">
<td colspan="2">Misc.</td>
                </tr>
<tr class="odd">
<td width="131" valign="top"><strong>Exclusive agent:</strong></td>
                  <td width="289"><p>
                                    </p></td>
                </tr>
<tr class="even">
<td>
<strong>Exclusive  agent date:</strong> </td>
                  <td>
				  -				  </td>
                </tr>
<tr class="odd">
<td valign="top"><p><strong>Attacthment:</strong><strong> </strong></p></td>
                  <td>
                                   </td>
                </tr>
</table>
<p> </p>
              <p> </p>
</td>
            </tr>
</table>
</div>
      </div>
      <!-- Home End -->
    <!-- Tab Content End -->
  	</div>
  	<!--end of tabContainer-->
	</div>
<!-- end of continer-a -->
</div>
</body>